body{  
    background: #202028;  
    color: #fff;  
    font-family: sans-serif;  
    font-size: 2em;  
    text-align: center;  
  }  
  canvas{  
    border:solid 0.2em #fff;  
    height:90vh;  
  }  


  img{
    text-align: start;
    margin-right: 800px;
    margin-top: -80px;
    margin-bottom: 50px;
  }
    h6{
        margin-right: 800px;
        margin-top:-140px;
        margin-bottom: -100px;
        color: #028ae9;
    }